<li [ngClass] = "{'list-group-item': true,
                  'list-group-item-success': loveIts > '0',
                  'list-group-item-danger': loveIts < '0' }">
  <h3 style = " float:right; color:grey ; ">{{ created_at | date : 'M/d/yyyy hh:mm a' }}</h3>
  <h2 [ngStyle]="{color: getColor()}">{{ monPostTitle }}</h2> 
  <h4 [ngStyle]="{color: getColor()}">{{ monPostContent }} </h4>
  <button class="btn btn-success" 
      (click)="increaseLike()">Love it!</button>
  &nbsp;
  <button class="btn btn-danger" 
      (click)="decreaseLike()">Don't love it!</button>  
</li>